<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>4-pfister-a2-testing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>4-pfister-a2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>4-pfister-a3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Blatt05.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74376F231DE387CD008E832D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>744231B21DDF2A2100423B5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>744231C01DDF2A3600423B5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>744231CB1DDF2A3F00423B5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
